.book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  input {
    padding: 0.5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgba($color-white, 0.8);
    color: $color-primary;

    &::placeholder {
      color: rgba($color-primary, 0.5);
    }

    &:focus {
      outline: none;
      border: 1px solid $color-secondary;
      background-color: rgba($color-secondary, 0.2);
      color: rgba($color-white, 0.5);

      &::placeholder {
        color: rgba($color-white, 0.8);
      }
    }
  }

  &__submit {
    margin-top: 0.5rem;
  }
}
