.section-hero {
  min-height: 90vh;
  padding-top: 28vh;
  background: linear-gradient(
      0deg,
      rgba($color-tertiary, 0.8),
      rgba($color-tertiary, 0.5)
    ),
    linear-gradient(0deg, rgba(#fff, 0.8), rgba(#fff, 0.8)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    // padding-top: 20%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
      align-items: flex-start;
      width: 80%;
    }
  }
}
