.section-genres {
  padding: 3rem 0;
  background-image:
    linear-gradient(
      rgba($color-primary, 0.9),
      rgba($color-primary, 0.9)
    ),
    url(../images/heart-bg.svg);
  background-attachment: fixed;

  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}

.genres-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.genre-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba($color-tertiary, 0.2);
  padding: 1rem;
  border-radius: 5px;

  @media (min-width: 768px) {
    text-align: center;
    flex-direction: column;
  }

  &__icon {
    max-height: 2rem;
    min-width: 2rem;
  }

  &__title {
    color: $color-secondary;
    font-size: 0.9rem;
    min-width: 4rem;
  }

  &__description {
    font-size: 0.8rem;
    color: rgba($color-white, 0.8);
  }
}
