.about-hero {
  background:
    linear-gradient(
      rgba($color-primary, 0.8),
      rgba($color-primary, 0.8)
    ),
    url(../images/hero-img-mobile.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 7rem 0 3rem;

  @media (min-width: 768px) {
    background:
      linear-gradient(
        rgba($color-primary, 0.8),
        rgba($color-primary, 0.8)
      ),
      url(../images/hero-img.png);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__description {
    padding: 1rem;
    background-color: rgba($color-primary, 0.7);
    border: 2px solid $color-tertiary;
    border-radius: 5px;
    max-width: 850px;
    color: rgba($color-white, 0.8);
  }

  &__contact {
    color: rgba($color-white, 0.8);

    &--email {
      margin-top: -1rem;
    }
  }
}
