.about-hero {
  background: linear-gradient(
      0deg,
      rgba($color-tertiary, 0.8),
      rgba($color-primary, 0.8)
    ),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 7rem 0 3rem;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__heading {
    margin-bottom: 1rem;
  }

  &__description {
    padding: 1rem;
    background-color: rgba(#fff, 0.8);
    border: 2px solid $color-tertiary;
    border-radius: 5px;
    max-width: 850px;
  }

  &__contact {
    margin-top: -1rem;
  }
}
