.section-logo {
  background-color: $color-white;
  padding: 3rem 0;
  text-align: center;
  position: relative;

  @media (min-width: 768px) {
    padding: 4rem 0;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80%;
    height: 1px;
    border-radius: 5px;
    background-color: $color-secondary;
    transform: translateX(-50%);
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      gap: 2rem;
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__logo {
    padding: 1rem 2rem;
    width: 70%;
    max-width: 400px;
    border: 2px solid $color-tertiary;
  }
}
